@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}
clear {
	width:0;
	height:0;
	clear:both;
}
div {
/*outline:1px solid #FC3;*/
}
body {
	direction:rtl;
	background-color:#000;
}
div.container {
	background-repeat:no-repeat;
	width:950px;
	min-height:600px;
	margin:0 auto;
}
/*-------------header----------------------------------------------------------------------------------------*/
div.header {
	width:auto;
	height:73px;/*outline:1px solid #F00;*/
}
/*-------------header top--------------------------------------------------------------------------------------*/
div.headertop {
	width:auto;
	height:20px;
	/*outline:1px solid #FFF;*/
	padding:7px 30px 0 30px;
	background-color:#666;
}
div.headertop a {
	color:#000;
	float:right;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-shadow:1px 1px 5px #FFFFFF;
	font-weight:bold;
}
div.headertop a:hover {
	color:#FFF;
}
/*------------- header down -----------------------------------------------------------------------------------*/
div.headerdown {
	width:auto;
	height:45px;
	position:relative;
	background-image:url(../images/headerdown.jpg);
}
div.menu {
	width:760px;
	height:45px;
	/*outline:1px solid #F00;*/
	float:right;
	margin:0 auto;
}
div.menu > ul {
	list-style-type:none;
	width:590px;
	margin:0 auto;
}
div.menu li {
	float:right;
	border-right:2px solid #000;
	position: relative;
}
div.menu li:last-child {
	border-left:2px solid #000;
}
div.menu a {
	text-decoration:none;
	color:#FFF;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	text-shadow:1px 1px 3px #000000;
	padding:17px 18px;
	display:block;
	font-weight:bold;
}
div.menu a:hover {
	color:#000000;
}
div.menu a:hover, div.headertop a:hover, div.logoimage img:hover {
	-webkit-transition:all .3s linear;
	-ms-transition:all .3s linear;
	-o-transition:all .3s linear;
	-moz-transition:all .3s linear;
}
div.menu li ul {
	list-style-type:none;
	position: absolute;
	display:none;
	right:-1px;
	z-index:1;
}
div.menu li:hover ul {
	min-width:100%;
	display:inline;
}
div.menu li li {
	float: none;
	background-image:url(../images/submenu1.jpg);
	border:0 none;
}
div.menu li li a {
	white-space: nowrap;
	padding:10px 18px;
	color:#000;
}
div.menu li li a:hover {
	color:#FFF;
}
div.menu li li:last-child {
	border-left:0px;
}
div.menu li ul li ul a {
	display:none;
}
div.menu li ul li:hover ul a {
	display:block;
}
div.menu li li ul {
	right:152px;
	top:0px;
}
a.submenu:hover {
	margin-right:3px;
}
div.logoimage {
	float:left;
	position:absolute;
	left:50px;
	top:-20px;
	z-index:1;
}
/*-------------banner----------------------------------------------------------------------------------------*/
div.banner {
	min-width:950px;
	height:300px;
	padding-bottom:40px;
}
div.slider {
	background-color:#999;
	min-width:920px;
	height:280px;
	border:8px groove #555;
	overflow:hidden;
	margin-bottom:10px;
}
div.opacityb {
	min-width:940px;
	height:40px;
	background-color:#222;
	opacity:0.55;
	filter:Alpha(opacity=55);
	position:absolute;
	top:315px;
}
div.aks {
	min-width:4700px;
	height:280px;
	position:relative;
	animation:slidingb 25s infinite;
	-moz-animation:slidingb 25s infinite;
	-webkit-animation:slidingb 25s infinite;
	-ms-animation:slidingb 25s infinite;
	-o-animation:slidingb 25s infinite;
}
div.aks > img {
	float:right;
}
@keyframes slidingb {
 0% {
right:0
}
 10% {
right:0
}
 15% {
right:-940px
}
 25% {
right:-940px
}
 30% {
right:-1880px
}
 40% {
right:-1880px
}
 45% {
right:-2820px
}
 55% {
right:-2820px
}
 60% {
right:-3760px
}
 70% {
right:-3760px
}
 80% {
right:-3760px
}
 85% {
right:-3780px
}
 90% {
right:0
}
}
@-moz-keyframes slidingb {
 0% {
right:0
}
 10% {
right:0
}
 15% {
right:-940px
}
 25% {
right:-940px
}
 30% {
right:-1880px
}
 40% {
right:-1880px
}
 45% {
right:-2820px
}
 55% {
right:-2820px
}
 60% {
right:-3760px
}
 70% {
right:-3760px
}
 80% {
right:-3760px
}
 85% {
right:-3780px
}
 90% {
right:0
}
}
@-webkit-keyframes slidingb {
 0% {
right:0
}
 10% {
right:0
}
 15% {
right:-940px
}
 25% {
right:-940px
}
 30% {
right:-1880px
}
 40% {
right:-1880px
}
 45% {
right:-2820px
}
 55% {
right:-2820px
}
 60% {
right:-3760px
}
 70% {
right:-3760px
}
 80% {
right:-3760px
}
 85% {
right:-3780px
}
 90% {
right:0
}
}
@-o-keyframes slidingb {
 0% {
right:0
}
 10% {
right:0
}
 15% {
right:-940px
}
 25% {
right:-940px
}
 30% {
right:-1880px
}
 40% {
right:-1880px
}
 45% {
right:-2820px
}
 55% {
right:-2820px
}
 60% {
right:-3760px
}
 70% {
right:-3760px
}
 80% {
right:-3760px
}
 85% {
right:-3780px
}
 90% {
right:0
}
}
 @-ms-keyframes slidingb {
 0% {
right:0
}
 10% {
right:0
}
 15% {
right:-940px
}
 25% {
right:-940px
}
 30% {
right:-1880px
}
 40% {
right:-1880px
}
 45% {
right:-2820px
}
 55% {
right:-2820px
}
 60% {
right:-3760px
}
 70% {
right:-3760px
}
 80% {
right:-3760px
}
 85% {
right:-3780px
}
 90% {
right:0
}
}
/*-------------content----------------------------------------------------------------------------------------*/
div.content {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	height:750px;
}
/*----------------------contentmaster---------------------------------------------------------------*/
div.contentmaster {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	height:410px;
}
div.contenttop {
	width:auto;
	height:120px;
}
div.coleft {
	z-index:2;
	width:300px;
	height:inherit;
	float:left;
}
div.coright {
	width:300px;
	height:inherit;
	float:right;
}
div.cocenter {
	width:auto;
	height:inherit;
	margin:0 330px;
}
#conl {
	position:relative;
	top:-60px;
}
#conr {
	position:relative;
	top:-60px;
	right:30px;
	left:0;
}
#conc {
	position:relative;
	top:-60px;
	left:10px;
	right:10px;
}
/*--------------contentdown-------------------------------------------------------------------------------------*/
div.contentdown {
	height:120px;
}
div.contentdown {
	padding-left:50px;
	height:290px;
	width:auto;
}
/*--------------form reserve-------------------------------------------------------------------------------------*/
div.contentleft {
	float:left;
	width:280px;
	height:270px;
}
.index-form {
	opacity:.8;
	margin:0 auto;
	width:200px;
	height:270px;
	background-color:#333;
}
td.titleform {
	color:#FC0;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9px;
	padding:0 5px;
}
#line {
	padding:10px 0;
	display:block;
	border-bottom:2px double #FFFF66;
}
td.selection {
	padding:2px 2px;
	text-align:right;
}
.formkey {
	background-color:#575850;
	position:relative;
	left:60px;
	right:60px;
	color:#000000;
	font-size:10px;
	font-family:Tahoma, Geneva, sans-serif;
	width:100px;
	height:30px;
	border:1px solid #666;
	border-radius:5px;
}
.formkey:hover {
	background-color:#333333;
	color:#FC0;
}
.scrol {
	background-color:#999;
}
.checkreserve {
	background:#CC6633;
}
ul.formreserve li {
	list-style-type:none;
}
div.contentright {
	width:auto;
	height:inherit;
	margin-left:300px;
}
div.ledown {
	width:auto;
	height:290px;
	float:left;
}
div.ridown {
	width:auto;
	height:290px;
}
.well {
	padding:20px 20px;
}
h2.wellcometext {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FC3;
	text-shadow:2px 2px 4px #fc3;
}
h2.text {
	padding-top:40px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#fff;
}
ul.well li {
	list-style-type:none;
}
a.zang img {
	padding:10px;
	width:200px;
	height:150px;
}
div.ridown a:hover {
	opacity:0.8;
}
/*-------------content2----------------------------------------------------------------------------------------*/
div.content2 {
	background-image:url(../images/backcontent2.jpg);
	background-repeat:repeat;
	width:auto;
	height:340px
}
div.contentleft2 {
	width:330px;
	height:inherit;
	float:left;
}
h1.content2-title {
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:10px 5px;
	line-height:10px;
}
.rs img {
	padding:10px;
	opacity:.5;
}
.rs img:hover {
	opacity:1;
}
ul.emkanatser {
	padding:20px 20px;
	list-style-type:none;
}
.emkanat {
	-webkit-box-shadow:2px 2px 8px #999999;
	-moz-box-shadow:2px 2px 8px #999999;
}
div.contentright2 {
	width:330px;
	height:inherit;
	float:right;
}
div.contentcenter2 {
	width:auto;
	height:inherit;
	margin:0 330px;
}
h1.notename {
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	padding:20px;
	font-weight:bold;
}
h4.notetext {
	opacity:.8;
	color:#999;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	line-height:15px;
	padding:5px 0;
}
h4.notewriter {
	color:#FFC;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
}
h1.notename {
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
}
h4.notetext:hover {
	opacity:1;
}
h4.notewriter {
	color:#999;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
}
/*-------------content-rooms---------------------------------------------------------------------------------------*/	
div.contentrooms {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	min-height:990px;
}
div.contentroomt {
	width:auto;
	height:900px;
}
div.contentroomt h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	color:#FC0;
	text-align:right;
	text-shadow:5px 5px 5px #000000;
	padding:75px 30px 30px 30px;
}
div.gallery-room-frame {
	width:auto;
	height:800px;
}
div.left-room-gallery {
	padding:0 20px;
	margin:0 auto;
	width:410px;
	float:left;
	height:400px;
}
div.right-room-gallery {
	padding:10px 30px;
	width:390px;
	height:380px;
	margin-left:450px;
}
div.left-room-gallery ul li {
	list-style:circle #666;
}
div.left-room-gallery ul {
	padding:30px 30px;
}
#room-text {
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	padding:15px 0;
}
h4.room-text {
	text-align:right;
	line-height:25px;
	color:#FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}
a.room-buttom span{
	text-decoration:none;
	color:#FFCC33;}
a.room-buttom:hover span{
	text-decoration:underline;
	color:#FFCC33;	
}
a.room-buttom {
	padding:50px 0;
}
h4.bt a {
	padding:0 50px;
	width:110px;
	height:20px;
	display:inherit;
	background-image:url(../images/gallery-bottomhover.gif);
	color:#FFFFFF;
	text-shadow:5px 5px 5px #666666;
	font-weight:bold;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
}
h4.bt a:hover {
	text-align:center;
	width:110px;
	height:20px;
	display:inherit;
	background-image:url(../images/gallery-bottom.gif);
	color:#000000;
	text-shadow:5px 5px 5px #FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	padding:20px;
}
.gallery-image {
	-webkit-box-shadow:5px 5px 8px #999999;
	-moz-box-shadow:2px 2px 8px #999999;
	border-image:url(../images/Untitled-4.gif) 20 20 20 20 stretch stretch;
}
#g1:hover {
	-webkit-transform:rotate(-15deg);
}
#g2:hover {
	-webkit-transform:rotate(15deg);
}
/*-------------content-rooms-down---------------------------------------------------------------------------------------*/	
div.contentroomd {
	background-image:url(../images/backcontent2.jpg);
	width:auto;
	height:210px;
	border-top:3px dashed #999999;
}
div.yekroom {
	width:240px;
	height:200px;
	float:left;
}
div.doroom {
	width:240px;
	height:200px;
	float:left;
}
div.seroom {
	width:240px;
	height:200px;
	float:left;
}
div.chaharroom {
	width:220px;
	height:200px;
	margin-left:auto;
	float:right;
}
/*-------------content-roomgallery-------------------------------------------------------------------------------------------------*/
div.gallery-rooms {
	width:auto;
	min-height:770px;
	background-image:url(../images/backcontentmaster.jpg);
}
div.pic-gallery-room {
	width:auto;
	min-height:560px;
	position:relative;
}
div.pic-gallery-room h2 {
	font-size:24px;
	font-weight:bold;
	color:#FC0;
	padding-right:30px;
	padding-top:70px;
	padding-bottom:20px;
}
#back {
	text-decoration:none;
	color:#FFF;
	margin-right:130px;
	font-family:Tahoma, Geneva, sans-serif;
	padding-bottom:20px;
}

@-webkit-keyframes slider {
	0%{ top:0 }
	10%{ top:0 }
	20%{ top:-405px }
	30%{ top:-405px }
	40%{ top:-810px }
	50%{ top:-810px }
	60%{ top:-1620px}
	70%{ top:-1620px }
	80%{ top:-2020px }
	95%{ top:-2020px;}
	100%{ top:0 }
}
 
div#view-roomgallery{

	margin:0 auto;
	width:600px;
	height:400px;
	outline:1px dashed #999;
	overflow:hidden;


}
 
div#pic-container-room{
	width:600px;
	height:1700px;
	position:relative;
	-webkit-animation:slider 8s infinite;
	
}
div#pic-container-room img{
	margin:5px #999;
	}
div#slider{
	padding:20px 120px;}

#slider img{

	border:2px solid #999;}
#slider a {
	

	padding: 4px 6px;

}
#slider a:hover img {
	border:4px solid #999;

}
/*---------------content-apartment-gallery-------------------*/	
div.gallery-apartment {
	width:auto;
	min-height:770px;
	background-image:url(../images/backcontentmaster.jpg);
}
div.pic-gallery-apartment {
	width:auto;
	min-height:610px;
	position:relative;
}
div.pic-gallery-apartment h2 {
	color:#FC0;
	padding-right:30px;
	padding-top:70px;
	padding-bottom:20px;
	font-size:24px;
	font-weight:bold;
}
#back {
	text-decoration:none;
	color:#FFF;
	margin-right:130px;
	font-family:Tahoma, Geneva, sans-serif;
}
div.pic-gallery-detail {
	width:600px;
	height:300px;
	border:1px dashed #FFF;
	position:absolute;
	right:200px;
	top:180px;
}
div.sliders {
	width:100px;
	position:relative;
}
div.train {
	left:-500px;
	position:absolute;
	overflow:hidden;
}
div.train > div {
	float:left;
	width:150px;
	overflow:hidden;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	-ms-transition:all .5s linear;
}
div.sliders:hover .train > div {
	width:50px;
}
div.sliders:hover .train > div:hover {
	width:450px;
}
div.sliders .train> div:last-child {
	padding-right:300px;
}
div.sliders .train > div > img {
	display:block;
}
div.sliders .train > div {
	-webkit-transition:width 600ms;
}
div.sliders:hover .train > div {
	width:50px;
}
div.sliders .train > div:hover {
	width:450px;
}
/*-------------content-reserve------------------------*/
div.content-reserv {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	min-height:1150px;/*border:1px dashed red;*/
}
div.content-leftr {
	width:540px;
	height:1060px;
	float:left;
	padding:45px 0px;
}
div.rules {
	width:490px;
	height:650px;
	background-color:#777;
	opacity:0.75;
	/*padding:10px 0;*/
	margin-top:40px;
}
div.cover {
	width:490px;
	height:30px;
}
div.rules ol {
	float:right;
	padding:20px;
	line-height:25px;
	list-style-type:decimal !important;
}
div.rules ol li {
	color:#eee;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	direction:rtl;
	margin-right:8px;
}
div.rules h4 {
	color:#e3c022;
	float:right;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
div.phones {
	width:490px;
	min-height:140px;
	background-color:#777;
	opacity:0.75;
}
div.phones span {
	color:#222;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:190px;
}
div.phones img {
	margin-right:200px;
	-moz-animation:phone 1.5s ease infinite;
	-webkit-animation:phone 1.5s ease infinite;
	-o-animation:phone 1.5s ease infinite;
	-ms-animation:phone 1.5s ease infinite;
}
@-moz-keyframes phone {
 0% {
opacity:1
}
 50% {
opacity:1
}
 60% {
opacity:0
}
 80% {
opacity:0
}
}
@-ms-keyframes phone {
 0% {
opacity:1
}
 50% {
opacity:1
}
 60% {
opacity:0
}
 80% {
opacity:0
}
}
@-webkit-keyframes phone {
 0% {
opacity:1
}
 50% {
opacity:1
}
 60% {
opacity:0
}
 80% {
opacity:0
}
}
@-o-keyframes phone {
 0% {
opacity:1
}
 50% {
opacity:1
}
 60% {
opacity:0
}
 80% {
opacity:0
}
}
div.content-rightr {
	min-height:1125px;
	margin-left:575px;
	/*border:2px dashed orange;*/
	padding:25px 20px 0;
}
div.reserv-date {
	width:345px;
	min-height:345px;
	border:1px dotted white;
	border-radius:10%;
	background-color:rgb(60,60,70);
	opacity:0.75;
}
table {
	margin-right:15px;
}
div.reserv-date table {
	max-width:345px;
	height:300px;
}

div.contact-info table {
	width:345px;
	height:300px;
}
div.reserv-date td, div.contact-info td, div.add-service td {
	color:#da3;
	font-size:15px;
}
div.contact-info {
	width:345px;
	min-height:360px;
	margin-top:20px;
	border:1px dotted white;
	border-radius:10%;
	background-color:rgb(60,60,70);
	opacity:0.75;
}
div.contact-info input, div.add-service input, div.key-send input {
	display:inline;
}
div.contact-info h4, div.reserv-date h4, div.add-service h4 {
	font-size:14px;
	color:#e3c033;
	font-family:Tahoma, Geneva, sans-serif;
	margin:20px 110px 20px 0px;
}
div.add-service {
	width:345px;
	min-height:200px;
	margin-top:20px;
	border:1px dotted white;
	border-radius:8%;
	background-color:rgb(60,60,70);
	opacity:0.75;
}
div.add-service table {
	width:345px;
	min-height:120px;
}
option {
	width:15px;
	padding:2px;
}
div.key-send {
	width:345px;
	max-height:90px;
	margin-top:20px;
	border:1px dashed transparent;
	background-color:#777;
	opacity:0.75;
}
div.key-send table {
	max-width:355px;
	min-height:30px;
}
div.key-send td {
	color:#000;
}
#key {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
#key:hover {
	background-color:#333;
	color:white;
}

/*-------- ENTEHAYE SAFE RESERV------*/
/*-------------content-aboutus-------------------------------------------------------------------------------------------------*/
div.content-aboutus {
	background-image:url(../images/backcontentmaster.jpg);
	background-repeat:repeat;
	width:auto;
	min-height:1110px;
}
div.contentup-aboutus {
	width:auto;
	min-height:321px;
	background-image:url(../images/labi-%20hotel.JPG);
}
div.contentdown-aboutus {
	width:auto;
	min-height:649px;
	padding:60px 80px;
}
div.contentdown-aboutus-up {
	/*outline:1px solid #F9C;*/
	width:auto;
	height:200px;
	background-color:#000;
	margin-bottom:30px;
	-moz-box-shadow:inset 0px 0px 40px 0px #FFF;
	-ms-box-shadow:inset 0px 0px 40px 0px #FFF;
	-o-box-shadow:inset 0px 0px 40px 0px #FFF;
	-webkit-box-shadow:inset 0px 0px 40px 0px #FFF;
	padding-left:29px;
}
div.contentdown-aboutus-up ul, div.contentdown-aboutus-down ul {
	list-style-type:none;
}
div.contentdown-aboutus-up ul li, div.contentdown-aboutus-down ul li {
	float:left;
}
div.contentdown-aboutus-up img, div.contentdown-aboutus-down img {
	position:relative;
	border:6px solid #666;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	-webkit-border-radius:20px;
	-moz-transition: height 5s;
	-ms-transition:height 5s;
	-o-transition:height 5s;
	-webkit-transition: height 5s;
}
#one {
	left:86px;
	margin-top:47px;
	z-index:3;
	-moz-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
}
img#one:hover, img#two:hover, img#three:hover, img#four:hover, img#five:hover {
	z-index:3;
	-webkit-transform:skew(-30deg, 30deg);
	-moz-transform:skew(-30deg, 30deg);
	-ms-transform:skew(-30deg, 30deg);
	-o-transform:skew(-30deg, 30deg);
}
#two {
	left:43px;
	margin-top:19px;
	z-index:2;
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
}
#three {
	margin-top:10px;
	z-index:1;
}
#four {
	margin-top:19px;
	right:43px;
	z-index:2;
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
}
#five {
	margin-top:47px;
	right:86px;
	z-index:3;
	-moz-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
}
div.contentdown-aboutus-middle {
	/*outline:1px solid #F9C;*/
	width:auto;
	min-height:375px;
	margin-bottom:30px;
	padding:10px;
}
div.contentdown-aboutus-middle h1 {
	color:#000;
	text-shadow:2px 2px 5px #e3c064;
	color:#e3c064;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
}
div.contentdown-aboutus-middle p {
	color:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:25px;
}
div.contentdown-aboutus-down {
	/*outline:1px solid #F9C;*/
	width:auto;
	height:134px;
	background-color:#000;
	-moz-box-shadow:inset 0px 0px 40px 0px #FFF;
	-ms-box-shadow:inset 0px 0px 40px 0px #FFF;
	-o-box-shadow:inset 0px 0px 40px 0px #FFF;
	-webkit-box-shadow:inset 0px 0px 40px 0px #FFF;
	padding-left:176px;
}
#six {
	left:30px;
	margin-top:14px;
	z-index:2;
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
}
img#six:hover, img#seven:hover, img#eight:hover {
	z-index:3;
	-webkit-transform:skew(-30deg, 30deg);
	-moz-transform:skew(-30deg, 30deg);
	-ms-transform:skew(-30deg, 30deg);
	-o-transform:skew(-30deg, 30deg);
}
#seven {
	margin-top:5px;
	z-index:1;
}
#eight {
	margin-top:14px;
	right:30px;
	z-index:2;
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
}
/*--------------------content-COFFEESHOP-------------*/
div.content-coffeeshop {
	background-image:url(../images/backcontentmaster.jpg);
	background-repeat:repeat;
	width:auto;
	min-height:950px;
	padding:70px 50px;
}
div.content-coffeeshop-up {
	width:auto;
	min-height:200px;
	padding:10px 20px;
}
div.content-coffeeshop-up img {
	float:left;
	-moz-transition:all 0.5;
	-webkit-transition:all 0.5;
	-ms-transition:all 0.5;
	-o-transition:all 0.5;
}
div.content-coffeeshop-up p {
	line-height:30px;
}
div.content-coffeeshop-middle {
	width:auto;
	min-height:250px;
	padding:50px 0px;
}
div.boxcafe {
	width:auto;
	height:350px;
	padding-right:45px;
}
div.boxcafe img {
	border-radius:10%;
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
div.boxcafe img:hover {
	-webkit-transform:scale(1.5, 1.5);
	-moz-transform:scale(1.5, 1.5);
	-o-transform:scale(1.5, 1.5);
	-ms-transform:scale(1.5, 1.5);
	z-index:1;
}
div.content-coffeeshop-down {
	width:auto;
	height:auto;
}
div.content-coffeeshop-down p {
	line-height:25px;
}
div.table #table1-roomr, div.table #table1-rooml {
	color:#FFFFFF;
	width:200px;
	height:250px;
	float:right;
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}
div.table #table1-roomr td, div.table #table1-rooml td {
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}

div.table #table1-roomr,div.table #table1-rooml{
		margin-right:80px;
}
div.content-coffeeshop-down h4, div.content-coffeeshop-up h4 {
	color:#e3c064;
	font-size:24px;
	
}
/*--------------------ENTEHAYE COFFEE-------------*/
/*--------------------content-roomservices------------------------------------------------------------------------------*/
div.content-roomservices {
	background-image:url(../images/backcontentmaster.jpg);
	background-repeat:repeat;
	width:auto;
	min-height:950px;
	padding:80px 80px 50px 80px;
}
div.content-roomservices-up {
	width:auto;
	min-height:200px;
	padding:10px 20px;
}
div.content-roomservices-up img {
	float:left;
}
div.content-roomservices-up h1, div.content-roomservices-down h1 {
	color:#000;
	text-shadow:2px 2px 5px #e3c064;
	color:#e3c064;
	font-size:24px;
	padding-bottom:10px;
}
div.content-roomservices-up ul {
	list-style-type:square;
	padding-right:40px;
}
div.content-roomservices-up ul li {
	color:#FFFFFF;
}
div.content-roomservices-middle {
	width:auto;
	height:330px;
	padding:25px 33px;
}
div.box {
	width:700px;
	height:330px;
	float:left;
}
div.box img {
	-webkit-transition:all 5s;
	-moz-transition:all 5s;
	-ms-transition:all 5s;
	-o-transition:all 5s;
	border:6px solid #666;
}
div.box img:hover {
	-webkit-transform:skew(-30deg, 30deg);
	-moz-transform:skew(-30deg, 30deg);
	-ms-transform:skew(-30deg, 30deg);
	-o-transform:skew(-30deg, 30deg);
}
div.content-roomservices-down {
	width:auto;
	height:auto;  /*meghdar bezaram?????----*/
	padding:0 20px 0 20px;
}
#minibar {
	float:right;
}
#roomservice {
	margin-right:430px;
}
div.table {
	width:auto;
	height:260px;
	padding:5px;
	padding-right:60px;
}
table.table1-room {
	color:#FFFFFF;
	width:200px;
	height:250px;
	float:right;
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}
table.table2-room {
	color:#FFFFFF;
	width:200px;
	height:250px;
	float:left;
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}
table.table2-room tr, table.table1-room tr {
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}
table.table2-room td, table.table1-room td {
	border:1px solid #CCC !important;
	border-color:#e3c064 !important;
}
div.content-roomservices-up a:link {
	color:#009;
}
div.content-roomservices-up a:visited {
	color:#0000CC;
}
/* ------ contact us -------------------------------------------------------------------------------------  */
	
div.contact-us {
	width:auto;
	min-height:630px;
	/*outline:1px solid #FFF;*/
	padding-top:90px;
	background-image:url(../images/backcontentmaster.jpg);
}
div.googlemap {
	width:400px;
	height:630px;
	float:left;
	/*outline:1px solid #FFF;*/
	position:relative;
	padding-left:50px;
}
div.googlemap-pic {
	/*outline:1px solid #FFF;*/
	width:400px;
	height:240px;
	background-image:url(../images/map.jpg);
	background-repeat:no-repeat;
	margin-top:60px;
}
div.message {
	width:390px;
	float:right;
	height:630px;
	/*outline:1px solid #FFF;*/
	padding-right:40px;
}
#contact {
	padding-right:0px;
	color:#FC3;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	margin-bottom:28px;
}
p {
	color:#FFF;
	font-size:15px;
	font-family:Tahoma, Geneva, sans-serif;
	padding-bottom:3px;
}
input {
	border-radius:7px;
	background-color:#CCCCCC;
	margin-bottom:15px;
	display:block;
	border-color:#999;
	height:22px;
}
/*div.googlemap-detail{
	outline:1px solid #FFFFFF ;
	}*/
#message {
	border-radius:7px;
	background-color:#CCCCCC;
	border-color:#000;
	margin-bottom:15px;
	width: 400px;
	height: 170px;
}
span {
	color:#C00;
}

div.email-addres{
	width:250px;
	height:30px;
	margin-right:80px;
	margin-bottom:5px;
	background-color:#333;
	border:1px solid #333;
	border-radius:5px;
}
p.addres {
	padding-bottom:10px;
	text-align:center;
	font-size:14px;
}
p.email {
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
}
p.email a {
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}
p.email a:hover {
	text-decoration:underline;
	color:#FC3;
}
p.tell {
	padding-bottom:10px;
	text-align:center;
	color:#000;
}
div.tel{
	width:250px;
	height:32px;
	margin-bottom:5px;
	background-color:#fc3;
	border:1px solid #fc3;
	border-radius:5px;
	margin-right:80px;
	opacity:0.9;
	}
input.send {
	font-size:15px;
	font-family:Tahoma, Geneva, sans-serif;
	width:65px;
	height:24px;
}
input:hover, textarea:hover {
	background-color:#FFF;
	
}
/*-------------------------salonha-----------------------------------------------------------------------------------*/
div.contentsalonha {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	height:950px;
	padding:80px 70px 80px 0;
}
div.contentsalon {
	width:auto;
	height:700px;
}
div.contentsalon h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	color:#FC0;
	text-align:right;
	text-shadow:5px 5px 5px #000000;
	padding-bottom:50px;
}
div.gallery-salon-frame {
	width:auto;
	height:800px;
}
div.gallery-salon-frame ul li {
	list-style-type:none;
}
div.left-salon-gallery {
	width:450px;
	float:left;
	height:500px;
}
div.right-salon-gallery {
	width:500px;
	height:500px;
}
.gallery-image {
	border:20px solid #333;
	border-image:url(../images/Untitled-4.gif) 20 20 20 20 stretch stretch;
}
div.contain-salon-reserve {
	width:auto;
	height:auto;
	color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	padding-left:90px;
}
div.contentsalnos {
	background-image:url(../images/backcontentmaster.jpg);
	width:auto;
	min-height:990px;
}
div.contentsalont {
	width:auto;
	height:900px;
}
div.contentsalont h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	color:#FC0;
	text-align:right;
	text-shadow:5px 5px 5px #000000;
	padding:75px 30px 30px 30px;
}
div.gallery-salon-frame {
	width:auto;
	height:800px;
}
div.left-salon-gallery {
	padding:0 20px;
	margin:0 auto;
	width:410px;
	float:left;
	height:400px;
}
div.right-salon-gallery {
	padding:10px 30px;
	width:390px;
	height:380px;
	margin-left:450px;
}
div.left-salon-gallery ul li {
	list-style:circle #666;
}
div.left-salon-gallery ul {
	padding:30px 30px;
}
#salon-text {
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	padding:15px 0;
}
h4.salon-text {
	text-align:right;
	line-height:25px;
	color:#FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}
a.salon-buttom:link span  {
	text-decoration:none;
}
a.salon-buttom:visited span {
	text-decoration:none;
}
a.salon-buttom:hover span{
	text-decoration:underline;
	color:#FFCC33;	
}
a.salon-buttom:active span {
	text-decoration:none;
}
a.salon-buttom {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#FC0;
	text-decoration:none !important;
}
a.salon-buttom span{
	color:#FC0;
	text-decoration:none !important;	
}
.gallery-image {
	-webkit-box-shadow:5px 5px 8px #999999;
	-moz-box-shadow:2px 2px 8px #999999;
	border-image:url(../images/Untitled-4.gif) 20 20 20 20 stretch stretch;
}
/*--------------------------------------------------salon-paziraee-gallary------------------------------------------*/

div.content-salon-gallary-up {
	width:600px;
	height:300px;
	overflow:hidden;
	margin:50px 100px 50px 50px;
	border:20px solid #333;
	border-image:url(../images/Untitled-4.gif) 20 20 20 20 stretch stretch;
}
div.iframe1 {
	width:2400px;
	height:300px;
	position:relative;
	float:left;
	-webkit-animation:slider-iframe1 15s infinite;
	-moz-animation:slider-iframe1 15s infinite;
	-ms-animation:slider-iframe1 15s infinite;
	-o-animation:slider-iframe1 15s infinite;
}
div.iframe1 img {
	float:left;
}
@keyframes slider-iframe1 {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 30% {
left:-600px;
}
 40% {
left:-1200px;
}
 50% {
left:-1200px;
}
 60% {
left:-1800px;
}
 70% {
left:-1800px;
}
 80% {
left:-1800px;
}
 90% {
left:-1810px;
}
 100% {
left:0;
}
}
 @-webkit-keyframes slider-iframe1 {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 30% {
left:-600px;
}
 40% {
left:-1200px;
}
 50% {
left:-1200px;
}
 60% {
left:-1800px;
}
 70% {
left:-1800px;
}
 80% {
left:-1800px;
}
 90% {
left:-1810px;
}
 100% {
left:0;
}
}
 @-moz-keyframes slider-iframe1 {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-o-keyframes slider-iframe1 {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-ms-keyframes slider-iframe1 {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
div.content-salon-gallary {
	background-image:url(../images/backcontentmaster.jpg);
	background-repeat:repeat;
	width:auto;
	min-height:700px;
	padding:80px;
}
div.title {
	width:auto;
	height:40px;
}
div.title h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	color:#FC0;
	text-align:right;
	text-shadow:5px 5px 5px #000000;
}
div.content-salon-gallary-down {
	width:auto;
	height:200px;
}
div.left-salon {
	float:left;
	width:140px;
	height:140px;
	padding:30px;
}
div.right-salon {
	float:right;
	width:140px;
	height:140px;
	padding:30px;
}
div.middle-salon {
	width:auto;
	height:140px;
	float:left;
	padding:30px;
}
div.middle2-salon {
	margin-left:400px;
	margin-right:200px;
	width:auto;
	height:140px;
	padding:30px;
}
div.content-salon-gallary-down a {
	text-decoration:none;
}
div.content-salon-gallary-down a:hover{
	opacity:0.8;	
	
}
div.content-salon-gallary-down img {
	border:3px solid #222 !important;
	-webkit-box-shadow: 2px 2px 8px #999999;
	-ms-box-shadow: 2px 2px 8px #999999;
	-moz-box-shadow: 2px 2px 8px #999999;
	-o-box-shadow: 2px 2px 8px #999999;
}
div.content-salon-gallary-down p {
	text-align:center;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#e3c064;
	padding-top:20px;
}
/*------------------------------------salon-conferance-gallary------------------------------------------------*/
div.content-salon-gallary-up1 {
	width:600px;
	height:300px;
	overflow:hidden;
	margin:50px 100px 50px 50px;
	border:20px solid #333;
	border-image:url(../images/Untitled-4.gif) 20 20 20 20 stretch stretch;
}
div.iframe {
	width:1800px;
	height:300px;
	position:relative;
	float:left;
	-webkit-animation:slider-iframe 15s infinite;
	-moz-animation:slider-iframe 15s infinite;
	-ms-animation:slider-iframe 15s infinite;
	-o-animation:slider-iframe 15s infinite;
}
div.iframe img {
	float:left;
}
@keyframes slider-iframe {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-webkit-keyframes slider-iframe {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-moz-keyframes slider-iframe {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-o-keyframes slider-iframe {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
 @-ms-keyframes slider-iframe {
 0% {
left:0;
}
 10% {
left:0;
}
 20% {
left:-600px;
}
 40% {
left:-600px;
}
 50% {
left:-1200px;
}
 70% {
left:-1200px;
}
 90% {
left:-1200px;
}
 95% {
left:-1210px;
}
 100% {
left:0;
}
}
div.left-salon1 {
	float:left;
	width:140px;
	height:140px;
	padding:30px;
	margin-left:50px;
}
div.right-salon1 {
	float:right;
	width:140px;
	height:140px;
	padding:30px;
	margin-right:70px;
}
div.middle-salon1 {
	width:auto;
	height:140px;
	margin-left:280px;
	margin-right:306px;
	padding:30px;
}
div.content-salon-gallary-down a:link {
	color:#333;
}
div.content-salon-gallary-down a:visited {
	color:#333;
}
/*-------------footer-----------------------------------------------------------------------------------------*/
div.footer {
	width:auto;
	height:65px;
	background-color:#333;
}
div.footer-up {
	width:auto;
	height:20px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	padding-top:20px;
}
div.footer-down {
	width:auto;
	height:25px;
	font-size:10px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
}
div.footer-down a {
	text-decoration:none;
	color:#CCC;
}
div.footer-down a:hover {
	text-decoration:underline;
	opacity:.8;
}
