@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}
div {
	outline:1px solid #FC3;
}
body {
	background-color:#003;
}
div.container {
	/*background-image:url(images/hoteliran.jpg);*/
	background-repeat:no-repeat;
	width:1024px;
	height:1250px;
	margin:0 auto;
}
/*-------------header--------------------------*/
div.header {
	width:auto;
	height:75px;
}
div.headertop {
	width:auto;
	height:30px;
}
div.headerdown {
	width:auto;
	height:auto;
}
div.logoimage {
}
div.menu {
}
/*-------------banner--------------------------*/
div.banner {
	background-image:url(../images/banner.jpg);
	width:auto;
	height:360px;
}
/*-------------content--------------------------*/
div.content {
	

	background-repeat:repeat;
	width:auto;
	height:750px;
	padding:0 px;
	outline:1px solid #F9C;
}
/*----------------------contentmaster-*/
div.contentmaster {
	outline:1px solid #F9C;
	width:auto;
	height:410px;
	padding:0 px;
}
div.content top{
	width:200px;;
	height:250px;
	

	}
	
div.content2 {
	background-image:url(../images/backcontent2%20copy.jpg);
	background-repeat:repeat;
	outline:1px solid #F9C;
	width:auto;
	height:340px
}
/*-------------footer-------------------------*/
div.footer {
	width:auto;
	height:65px;
}
div.footerleft {
	width:500px;
	height:inherit;
	float:left;
}
div.footerright {
	width:auto;
	margin-left:500px;
	height:inherit;
}
